# EditorConfig is awesome:
http://EditorConfig.org

# top-most EditorConfig file
root = true

# LF newlines with a newline ending every file, no trailing whitespace
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Set default charset
[*.{html,css,js,json}]
charset = utf-8

# 2 space indentation
[*.{html,css,js,json}]
indent_style = space
indent_size = 2
